.categories-area {
    .single-cat{
        border: 1px solid #e1ebf7;
        border-radius: 6px;
        padding: 85px 22px;
        @include transition(.4s);
        position: relative;
        z-index: 1;
        @media #{$xs}{
            padding: 50px 22px;
        }
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            background:#E535AB;
            transition: .6s;
            bottom: 0;
            left: 0;
            z-index: -1;
            border-radius: 6px;
        }
        .cat-icon{
            span{
                color: $theme-color;
                font-size: 50px;
                margin-bottom: 30px;
                display: block;
            }
        }
        .cat-cap{
            h5{
             & > a{
                font-size: 36px;
                font-weight: 700;
                margin-bottom: 21px;
                display: block;
                @include transition(.2s);
                font-family:$font_2;
                @media #{$sm}{
                    font-size: 26px;
                }
                @media #{$xs}{
                    font-size: 26px;
                }
              }
            }
            p{
                margin-bottom: 36px;
                color: #57667e;
                font-size: 16px;
                @include transition(.2s);
                @media #{$sm}{
                    font-size: 15px;

                }
            }
            a{
                color: #1c165c;
                font-size: 16px;
                font-weight: 600;
                @include transition(.2s);
            }
        }


        // Hover Effect In single 
        &:hover{
                border: 1px solid transparent;
                // background: #ff3d1c;

                &::before {
                    height: 100%;
                }
                .cat-icon{
                span{
                    color: #fff;
                }
                }
                .cat-cap{
                    h5{
                        color: #fff;
                    }
                    p{
                        color: #fff;
                    }
                    a{
                        color: #fff;
                    }
                }
       }
    }
}



// ul li::before{
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: transparent;
//     border-radius: 50%;
//     transform: scale(1);
//     transition: .5s;
//     border: 2px dashed red;
//     box-sizing:border-box;
//     animation: animate 10s linear infinite;

// }

// @keyframes animate{
//     0%{
//         transform: scale(0.92) rotate(0deg);
//     }
//     100%{
//         transform: scale(0.92) rotate(360deg);
//     }
// }