.footer-area{
    background: #121212;
    // Top Footer Caption
    .footer-heading {
        padding-bottom: 51px;
        margin-bottom: 82px;
        border-bottom: 1px solid #1a2537;
        .wantToWork-caption{
            h2{
                color: #fff;
                font-size: 36px;
                font-weight:700;
                line-height: 1.2;
                font-family: $font_2;
                margin: 0;
    
                @media #{$md}{
                    font-size: 30px; 
                }
                @media #{$xs}{
                    font-size: 25px; 
                    margin-bottom: 20px;
                }
            } 
            & p{
                font-size: 18px;
            }
        }    
        .contact-number{
            color: #E535AB;
            font-size: 36px;
            font-weight:700;
            @media #{$sm}{
                float: left;
                margin-top: 30px;
            }
            @media #{$xs}{
                float: left;
                margin-top: 20px;
                font-size: 30px;
            }
            @media #{$md}{
                float: left;
                margin-top: 30px;
            }
        }
    
    }
    // Footer Menu
    .footer-top{
        .single-footer-caption{
            .footer-logo{
                margin-bottom:30px;
            }
            .footer-pera{
                 .info1{
                    line-height: 1.8;
                    margin-bottom: 30px;
                    padding-right: 0;
                    color: #c4c4c4;
                    font-size: 14px;
                    @media #{$lg}{
                        padding-right: 0px;
                    }
                    @media #{$md}{
                        padding-right: 0px;
                    }
                    @media #{$sm}{
                        padding-right: 0px;
                    }
                    @media #{$sm}{
                        padding-right: 0px;
                    }
                 }
            }
            .footer-tittle{
                & h4{
                    color: #fff;
                    font-family:$font_2;
                    font-size: 18px;
                    margin-bottom: 38px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                & ul{
                    & li{
                        color: #bbbcbc;
                        margin-bottom: 15px;
                        text-transform: capitalize;
                        & a{
                            color: #868c98;
                            font-weight: 300;
                            &:hover{
                                color: $theme-color;
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }
        }

    }
    //copy Right 
    .footer-bottom{
        // border-top: 1px solid #1c2e4c;
        padding-bottom: 50px;
        padding-top: 20px;
        .footer-copy-right{
            & p{
                color: #bbbcbc;
                font-weight: 300;
                font-size: 16px;
                line-height: 2;
                margin-bottom: 12px;
                & i{
                    color:$theme-color;
                }
                & a{
                    color: $theme-color;
                    &:hover{
                        // color: #fff;
                    }
                     
                }
            }
        }
    }
    // Instagram

    // Footer SociaL
    .footer-social {
        a {
            color: #848493;
            font-size: 18px;
            text-align: center;
            margin-left: 24px;
            &:first-child{
                margin-left: 0px;
            }
            &:hover {
                color: #fff;
            }
        }
    }
}

